<!DOCTYPE html>
<html>
<head>
    <title>Hats</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/productcard.css"/>
    <link rel='stylesheet' type="text/css" href='/stylesheets/footer.css' />
    <link rel='stylesheet' type="text/css" href='/stylesheets/navigation.css' />
</head>
<body>
<div class="max-width">
    <% include ./navigation.ejs%>
    <div class="category-title">
        Sneakers
    </div>
    <div class="category-container">
        <% for (var i = 0; i < arrSneakers.length; i++) { %>
            <div class="product-card-container">
                <img src="<%= arrSneakers[i].imageURL %>" alt="<%= arrSneakers[i].productName %>">
                <button class="base-button" onclick="addToCart(<%= arrSneakers[i].id %>, 'sneakers')">Add to Cart</button>
                <div class="footer-product">
                    <div class="name"><%= arrSneakers[i].productName %></div>
                    <div class="price"><%= arrSneakers[i].price %></div>
                </div>
            </div>
        <% } %>
    </div>
</div>
<% include ./footer %>
<script src="/javascripts/addToCart.js"></script>
</body>
</html>
